
html {
	background-image: url(fundo-de-textura-de-ardosia_24972-292.jpg);
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;margin-top: 120px;
}

body {
	width:560px;
	border:1px solid #ddd;
	margin:10px auto;
	background-color:#FFF;
	padding:10px 30px;
	border-radius:5px;
}

h2 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	font-style:italic;
	letter-spacing:-0.05em;
	color:#C63;
	margin:2px 0 15px;
	text-shadow:1px 1px 2px #666;
}

input {
	display:block;
	margin-bottom:20px;
	border:1px solid #999;
	padding:8px;
    border-radius:3px;
}

input:focus {
	border:1px solid #ccc;
	outline:none;
}

input[type=submit] {
	width:100px;
	color:#FFF;
	background:linear-gradient(top, #F33, #933 );
	background:-webkit-linear-gradient(top, #F33, #933 );
	background:-moz-linear-gradient(top, #F33, #933 );
	border:1px solid #333;
	cursor:pointer;
}

